@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212121;
  color: #f1f1f1;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

.hand-transition {
  animation: handTransition 1s 1s forwards;
}

@keyframes handTransition {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
